Burning Airlines
<button>Create Flight</button>
<label>Flight Name</label><input type="text" placeholer="ZXC 526">
<label>Rows</label><input type="integer" placeholder="4">
<label>Columns</label><input type="integer" placeholder="52">
<input type="submit">

{{#each airplanes}}
{{name}} | {{row}} | {{column}}
{{/each}}